{% extends 'base.html.twig' %}

{% block title %}Prisijungimas{% endblock %}

{% block content %}
  <div class="page-wrapper blue-gradient-page">
    <div class="page-content container">
      <div class="content-wrapper login">
        <form class="log-in" method="post">
          {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          <h1 class="text-center">Prisijunkite</h1>
          <div class="field">
            <label class="label" for="field-email">El. paštas</label>
            <div class="control">
              <input class="input"
                     type="email"
                     value="{{ last_username }}"
                     name="email"
                     id="field-email"
                     placeholder="El. paštas"
                     required autofocus
              >
            </div>
          </div>
          <div class="field">
            <label class="label" for="field-password">Slaptažodis</label>
            <div class="control">
              <input class="input"
                     type="password"
                     name="password"
                     id="field-password"
                     placeholder="Slaptažodis"
                     required
              >
            </div>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
          <div class="field control control--checkbox justify-content-center">
            <input class="checkbox" type="checkbox" name="_remember_me" id="field-checkbox-remember-me">
            <label class="label" for="field-checkbox-remember-me">Atsiminti mane </label>
            <button class="button" type="submit" role="button">Prisijungti</button>
          </div>
        </form>
        <div class="content-wrapper text-center">
          Neturite paskyros? <a href="{{ path('register') }}">Registruokitės</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
