{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <div class="page-content container">
    <div class="content-wrapper">
      <h1>
        Scriber
      </h1>
        <h5>
          <em>
            Scriber yra <strong>automatinis</strong> audio ir video transkribavimo įrankis,
            kuris naudoja šnekos lietuvių kalba atpažinimo variklį.Scriber naudotis yra paprasta:
          </em>
        </h5>
        <ol class="list list-group list-group-flush">
          <li class="list-group-item">1. Įkelkite audio ar video failą, kurį norite transkribuoti į Scriber sistemą</li>
          <li class="list-group-item">2. Palaukite, kol Scriber transkribuoja failą. Baigus transkribavimą informuosime jus e. paštu</li>
          <li class="list-group-item">3. Nadodamiesi Scriber teksto redaktoriumi, koreguokite transkribuotą tekstą</li>
          <li class="list-group-item">4. Atsisiųskite transkribuotą failą</li>
        </ol>
    </div>
  </div>
{% endblock %}
