{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="container">
        <div class="content-wrapper" aria-label="Text Editor">
            <div><h1>Mano Transkripcija</h1></div>
            <div class="editor" id="editor">
                {% for word in words %}
                    {{ word|raw }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <div class="content-wrapper">
        <audio id="player" controls>
            <source src="../../public/audio_files/demo/demo_record.mp3" type="audio/mpeg">
        </audio>
    </div>
    <div class="content-wrapper">
        <button class="button" id="downloadButton">Eksportuoti transkripciją</button>
    </div>
    <div class="content-wrapper">
        <div class="field">
            <div class="control control--checkbox">
                <input class="checkbox" type="checkbox" id="highlights">
                <label class="label" for="highlights">Sunkūs žodžiai</label>
            </div>
            <p class="help error">nuspalvinti algoritmui sunkius žodžius</p>
        </div>
        <div class="field">
            <div class="control control--checkbox">
                <input class="checkbox" type="checkbox" id="hints" checked>
                <label class="label" for="hints">Buvę žodžiai</label>
            </div>
            <p class="help error">įjungti originalių žodžių rodymą vietoje tuščios vietos</p>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('editScrybedText') }}
{% endblock %}