{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{#    <textarea>#}
{#        {% for word in words %}#}
{#            {{ word|raw }}#}
{#        {% endfor %}#}
{#    </textarea>#}
        <div contenteditable="true">
            {% for word in words %}
                {{ word|raw }}
            {% endfor %}
        </div>
{% endblock %}
