{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header %}
        <div class="content-wrapper">
            <button class="button" id="downloadButton">Export</button>
        </div>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="content-wrapper" aria-label="Text Editor">
            <div class="editor" id="editor" contenteditable="true">
                <h1>Mano Transkripcija</h1>
                {% for word in words %}
                    {{ word|raw }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block aside %}
    <h2>Liko minu훾i킬: 48</h2>
    <h4><a class="button" href="#">Pirkti daugiau minu훾i킬</a> </h4>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('downloadEditedText') }}
{% endblock %}