{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block headerRight %}
    <div class="content-wrapper">
        <div class="header-content-right">
            <a class="button" href="{{ path('secure_login') }}">Prisijungti</a>
            <a class="button" href="{{ path('register') }}">Registruotis</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div id="landing-page" class="page-wrapper">
        <div class="page-content container">
            <div class="container">
                <div class="content-wrapper">
                    <div class="landing-page-title">Scriber</div>
                    <div class="landing-page-heading">Automatinis audio ir video transkribavimas</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}