{% extends 'base.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block body %}
    <div class="nfq-academy">{{ someVariable }}</div>
    <a href="editor">
        <button>Start</button>
    </a>
{% endblock %}
