{% extends 'layout.html.twig' %}

{% block title %}{{ someVariable }}{% endblock %}

{% block main %}
    <div class="nfq-academy">{{ someVariable }}</div>
    <a href="editor">
        <button>Start</button>
    </a>
{% endblock %}
