{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="page-content container">
        <div class="content-wrapper">

        </div>
    </div>
{% endblock %}