{#{% extends 'base.html.twig' %}#}

{#{% block title %}{{ title }}{% endblock %}#}

{#{% block body %}#}
{#    <a href="../../assets/edited.txt">#}
{#        <div>{{ text }}</div>#}
{#        <button>Download</button>#}
{#    </a>#}
{#{% endblock %}#}