{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <form method="POST" action="#" enctype="multipart/form-data">
        <div>
            {% if text %}
                <div class="alert-danger">{{ text }}</div>
            {% endif %}
            <label for="file-upload" class="button">
                Pasirinkti failą
            </label>
            <input id="file-upload" class="button" type="file" name="uploadedFile" />
        </div>

        <input class="button" type="submit" name="uploadBtn" value="Įkelti" />
    </form>
{% endblock %}
