.link {
    color: $color__link;
    //text-decoration: underline;
    @include focusable();

    &:hover {
        color: $color__link;
    }

    &:focus,
    &:active {
        color: darken($color__white, 20%);
    }

    &:focus {
        @include focusable-active();
    }

    &.logo {
        color: $color__logo !important;
        text-decoration: none !important;
    }
}

.table-link {
    @extend .link;
    color: $color__royal-blue;
    text-decoration: none !important;
}

.list-group-item {
    &.export {
        color: $color__royal-blue;
    }
}
