//override Bootstrap
.nav-item {
    font-family: $font-family__headings !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-size: $font-size__h2 !important;
    color: $color__ink !important;
    padding: 0px 15px 0px 15px !important;

    &:hover {
        background-color: darken($color__baby-powder, 1%);
    }
}

@media (min-width: 992px) {
    .nav-item:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
}