//override Bootstrap
.nav-item {
    font-family: $font-family__headings !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-size: $font-size__h2 !important;
    color: $color__text-headings !important;
}