.highlight {
    background-color: $color__jellybean-red;
}

.highlight-example {
    background-color: $color__highlight;
    color: $color__black-steel;
}

.sync {
    background-color: $color__light-gold;
}

