// Colorings for draft purposes
#app {
    background: $color__eggshell-white;
}

.page-header {
    background: $color__dark-vanilla;

}

.aside {

    .container {
        background: $color__jellybean-pink;
    }
}

.main {

    .container {
        background: $color__eggshell-white;
    }
}

.page-footer {
    background: $color__dark-vanilla;
}
