// Colorings for draft purposes
#app {
    background: $color__type-paper;
}

.page-header, .page-footer {
    background: $color__aluminum;

}

.aside {

    .container {
        background: $color__paper;
    }
}

.main {

    .container {
        background: $color__paper;
    }
}
