.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: row;
    min-width: 60px;
    justify-content: space-between;
    flex: 0 0 auto;
}

    .header-content-left {
        margin: 1em;
    }

    .header-content-right {
        margin: 1em;
    }

.page-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .content-wrapper {
        padding: $size__gutter;
    }

}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: auto;
    flex: 1 0 auto;

    @include breakpoint-up(lg) {
        flex-direction: row;
    }

    .pricing {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-grow: 1;
        height: 450px;
        max-width: 300px;
        margin: auto auto 20px auto;
        border-width: 1px;
        box-shadow: 3px 5px 18px $color__grey-skull;
        background-color: $color__baby-powder;
        border-style: solid;
        border-radius: 6px;
    }

    .errors {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        flex-grow: 1;
        height: 300px;
        max-width: 600px;
        margin: auto;
        border-width: 2px;
        border-color: $color__jellybean-red;
        box-shadow: 3px 5px 18px $color__grey-skull;
        background-color: $color__baby-powder;
        border-style: solid;
    }

    .checkout {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        flex-grow: 1;
        height: 400px;
        max-width: 500px;
        margin: auto;
        border-width: 1px;
        border-color: $color__ink;
        box-shadow: 3px 5px 18px $color__grey-skull;
        background-color: $color__baby-powder;
        border-style: solid;
    }

    .aside {
        display: flex;
        margin: 0.5em;
        order: 2;

        @include breakpoint-up(lg) {
            flex: 0 0 300px;
        }
    }

    .main {
        display: flex;
        margin: 0.5em;
        flex-grow: 1;
        order: 1;
    }
        .editor {
          margin: 1em;
          flex-grow: 1;
        }
}

.container {
    margin: 0 auto;
    @include make-container-max-widths();
    
    .content-wrapper {
        padding: $size__gutter;
    }

    .checkout {
        height: auto;
        border-width: 1px;
    }


}

@media (min-width: 992px) {
    .pricing:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
}


