.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
}

.page-header {
    display: flex;
    flex-direction: row;
    min-width: 60px;
    justify-content: space-between;
    flex: 0 0 auto;
}

    .header-content-left {
        margin: 1em;
    }

    .header-content-right {
        margin: 1em;
    }

.page-footer {
    flex: 0 0 auto;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: auto;
    flex: 1 0 auto;

    @include breakpoint-up(lg) {
        flex-direction: row;
    }

    .aside {
        display: flex;
        margin: 0.5em;
        order: 2;

        @include breakpoint-up(lg) {
            flex: 0 0 300px;
        }
    }

    .main {
        display: flex;
        margin: 0.5em;
        flex-grow: 1;
        order: 1;
    }
        .editor {
          margin: 1em;
          flex-grow: 1;
        }
}

span.word:empty::before {
    content: '['attr(data-word-content)']';
    color: $color__text-muted;
}

.container {
    margin: 0 auto;
    @include make-container-max-widths();
    
    .content-wrapper {
        padding: $size__gutter;
    }
}
