<div>
  <h1>Sveikiname!</h1>
  <div>
    <h2>
      <strong>{{ name }}</strong>, jūs užsiregistravote į <strong>Scriber</strong> transkribavimo sistemą.
      Scriber Jums dovanoja 30 minučių įrašų transkribavimui!
    </h2>
  </div>
  <div>
    <h2>
      Prisijunkite ir transkribuokite: <a href="{{ url('secure_login') }}">Scriber</a>.
    </h2>
  </div>
  <div>
    Ačiū!
  </div>
</div>