<div class="page-content container">
  <h1>Scriber Jums dėkoja, kad pirkote!</h1>
  <div>
    <h2>
      <strong>{{ name }}</strong>, jūs įsigijote <em>{{ pricingPlanHours }}val.</em> transkribavimui už <em>{{ pricingPlanRate }}&euro;</em>
    </h2>
  </div>
  <div>
    <h2>
      Prisijunkite ir transkribuokite: <a href="{{ url('secure_login') }}">Scriber</a>.
    </h2>
  </div>
  <div>
    Ačiū!
  </div>
</div>