<div>
  <h1>{{ name }}, Jūsų transkripcija paruošta!</h1>
  <div>
    <h2>
      Redaguokite šiuo adresu: <a href="{{ url('edit_scribed_text', {userfileId: userfileId}) }}">Mano Transkripcija</a>.
    </h2>
  </div>
  <div>
    Ačiū, kad naudojatės mūsų paslaugomis!
  </div>
</div>