// Available color variables

//Corporate Desk
$color__paper:          #F4F4EF;
$color__type-paper:     #EFEFEF;
$color__dark-vanilla:   #D8C3A5;
$color__brick-red:      #962715;
$color__ink:            #20232A;
$color__aluminum:       #ACBEBE;

//Complementary
$color__cobalt:         #3A5199;
$color__black-steel:    #080706;
$color__grey-skull:     #7E827A;
$color__white:          #FFFFFF;
$color__jellybean-red:  #E85A4F;

