// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/

//$color__white:         white;
//$color__fiord:         #4F5A65;
//$color__black-russian: #202124;
//$color__shuttle-grey:  #5f6368;
//$color__grey:          #767676;
//$color__royal-blue:    #1C5AEA;
//$color__matisse:       #376089;



//Vintage ralph lauren
$color__flat-cherry:    #703030;
$color__tyre:           #2F343B;
$color__greyskull:      #7E827A;
$color__ivory:          #E3CDA4;
$color__contessa:       #C77966;
$color__royal-blue:     #1C5AEA;
$color__black-russian:  #202124;
$color__white:          white;
$color__grey:           lightgrey;

//Minimal Yet Warm
$color__eggshell-white: #EAE7DC;
$color__dark-vanilla:   #D8C3A5;
$color__taupe-grey:     #8E8D8A;
$color__jellybean-pink: #E98074;
$color__jellybean-red:  #E85A4F;
